/*------------------------------------------------------------Resolución para Móvil------------------------------------------------------------*/

/*------------------------------Estilos Generales------------------------------*/

/*----------Colores----------*/
:root{
    --fondo: #F4FFE3;
    --fondoOscuro: #101F0D;
    --verdeOscuro: #203D1A;
    --verde: #407B33;
    --verdeClaro: #779a6a;
    --verdeMuyClaro: #caddbb;

    --verdeNeon: #76e7b0;
    --verdeNeonOscuro: #00BF63;
    --azulNeon: #07F5CB;
    --azul: dodgerblue;
    --rojo: #ff7676;
    --rojoOscuro: #c20000;
    --naranja: rgb(255, 209, 124);
    --naranjaOscuro: orange;

    --degradado: linear-gradient(to right, #00bf63, #7ed957 );

    --blanco: white;
    --negro: black;
}


*{
    margin: 0;
}

body{
    background-color: var(--fondo);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100vh;
}

.container{
    width: 100%; height: 100%;

    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 17% 7% 5% 5% 0.1% 5% auto 5% 15%;
}

.center{
    text-align: center;
}



/*------------------------------ Header Nav ------------------------------*/
.navbar1{
    background-color: var(--negro);

    grid-area: 1 / 1 / 2 / 4;

    display: grid;
    grid-template-columns: 2.5% 7% 10% 58.5% 10% 7% 5%;
    grid-template-rows: 10% 20% 40% 20% 10%;
}

.profileIcon{
    color: var(--blanco);
    font-size: 3rem;
    grid-area: 2 / 2 / 5 / 3;
}

.profileIcon i{ margin-top: 20%; }

.profileButton{
    background-color: var(--verde);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    padding-top: 9%;

    grid-area: 3 / 3 / 4 / 4;
}

.profileButton:focus{
    background-color: var(--azulNeon);
    border: 2px solid var(--azul);
    color: var(--negro);
}

.textLogo{
    color: var(--blanco);
    text-align: right;
    margin-right: 10%;

    grid-area: 3 / 5 / 4 / 5;
}

.logoImg{ grid-area: 2 / 6 / 5 / 7; }
.logoImg img{ width: 100%; height: 100%;}




.navbar2{
    background-color: var(--verde);
    grid-area: 2 / 1 / 3 / 4;

    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 15% 10% 2% 10% 5% 43% 15%;
}

.buttonNav{
    background-color: var(--verdeOscuro);
    color: var(--blanco);
    border-radius: 5px;
    border: none;
    cursor: pointer;

    text-decoration: none;
}

.buttonNav:focus{
    background-color: var(--azulNeon);
    border: 2px solid var(--azul);
    color: var(--negro);
}

.b2_1{ grid-area:  2 / 2 / 3 / 3; padding-top: 3%;}
.b2_2{ grid-area:  2 / 4 / 3 / 5; padding-top: 3%;}

.formNav2{ 
    color: var(--blanco);
    grid-area: 2 / 6 / 3 / 7; 

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 1% 31% 2% 28% 2% 11%;
}

.label1{
    text-align: right;
    padding: 3%;
}

select, input{
    background-color: var(--verdeMuyClaro);
    color: var(--negro);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


select:focus, input:focus{
    border: 1px solid var(--azulNeon);
}

select{ grid-area: 1 / 3 / 2 / 4; }
input{ grid-area: 1 / 5 / 2 / 6; }
.b2_3{ grid-area: 1 / 7 / 2 / 8; }




/*------------------------------ Cuerpo ------------------------------*/

.title1{ grid-area: 4 / 2 / 5 / 3; }

.hr1{ grid-column: 2 / 3; grid-row: 5 / 6;}





/*------------------------------ Tabla ------------------------------*/
.table1{ 
    
    grid-area: 7 / 2 / 8 / 3; 
}

table, tr, th, td{
    background-color: var(--fondoOscuro);
    border: 1px solid var(--negro);
    border-radius: 5px;
    border-color: var(--negro);
}

.tableTitle{
    color: var(--blanco);
    background-color: var(--verde);
}

.tableContent{ background-color: var(--verdeMuyClaro); }


.stateButtonOn{
    background-color: var(--verdeNeon);
    color: var(--negro);
    border: 1px solid var(--verdeNeonOscuro);
    border-radius: 5px;
    padding: 5%;
    cursor: pointer;
}
.stateButtonOn:focus{ background-color: var(--verdeNeonOscuro); }

.stateButtonOff{
    background-color: var(--rojo);
    color: var(--negro);
    border: 1px solid var(--rojoOscuro);
    border-radius: 5px;
    padding: 5%;
    cursor: pointer;
}
.stateButtonOff:focus{ background-color: var(--rojoOscuro); }

.editButton{
    background-color: var(--naranja);
    color: var(--negro);
    border: 1px solid var(--naranjaOscuro);
    border-radius: 5px;
    padding: 5%;
    cursor: pointer;
}

.editButton:focus{ background-color: var(--naranjaOscuro); }




/*------------------------------ Footer ------------------------------*/
footer{
    background-color: var(--negro);
    color: var(--blanco);

    grid-area: 9 / 1 / 10 / 4;

    display: grid;
    grid-template-columns: 2.5% 10% 65.5% 10% 7% 5%;
    grid-template-rows: 10% 20% 40% 20% 10%;
}

.buttonFoot{
    background-color: var(--verdeNeonOscuro);
    color: var(--negro);
    border-radius: 5px;
    text-decoration: none;
    padding-top: 7%;

    grid-area: 3 / 2 / 4 / 3;
}

.footerTextLogo{
    text-align: right;
    margin-right: 5%;

    grid-area: 3 / 4 / 4 / 5;
}

.footerLogo{ grid-area: 2 / 5 / 5 / 6; }
.footerLogo img { width: 100%; height: 100%;}